<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        html {
            height: 100%;
            background: gray;
            font-family: sans-serif;
            font-weight: bold;
        }
    </style>
    <form role="form" method="post">
        <p>ID del registro a actualizar:</p>
        <input type="text" id="id" name="id">
        <p>Version REV de documento:</p>
        <input type="text" id="rev" name="rev">
        <button id="cargar" type="submit">Borrar Registro</button>
    </form>
    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>