<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        html {
            height: 100%;
            background: gray;
            font-family: sans-serif;
            font-weight: bold;
        }
    </style>
    <form method="post" role="form">
        <h2>Nombre de Pizza</h2>
        <input type="text" id="pizza" name="pizza">
        <h2>Precio de Pizza</h2>
        <input type="text" id="precio" name="precio">
        <button id="cargar" type="submit">Cargar Pizza</button>
    </form>
    <a href="/">
        <button>Volver</button>
    </a>
</body>
</html>